html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
	margin: 0;
    outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body {
    border: 0px;
    height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

body {
    padding: 0 0 4.125em 0;
}

#sect-main {
    display: flex;
    height: 100%;
    width: 100%;
    background: green;
}

/* Footer */
#foot-main {
    background: #e67817;
    height: 4.125em;
    text-align: center;
    vertical-align: middle;
}

#foot-main>span {
    line-height: 4.125em;
}

/* Filters */
#as-filter-area {
    background: yellow;
    height: 100%;
}

/* Table */
#sect-table-data {
    flex-grow: 1;
    height: 100%;
    background: red;
    overflow: auto;
}

#sect-table-data>table {
    height: 100%;
    width: 100%;
}

/* Record */
#as-record-area {
    background: blue;
    height: 100%;
}