@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Regular.ttf);
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
	margin: 0;
    outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body {
    height: 100%;
	width: 100%;
}

body {
    background-color: #0a0b0d;
    padding: 0 0 4.125em 0;
}

body,
input {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}

h2,
h3 {
    display: none;
}

#sect-main {
    display: flex;
    height: 100%;
    width: 100%;
}

/* Footer */
#foot-main {
    background: #e67817;
    height: 4.125em;
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
}

#foot-main > span {
    line-height: 4.125em;
}

/* Filters */
#as-filter-area {
    background: #000;
    height: 100%;
    overflow: hidden;
    padding: 15px;
    transition: width .5s;
    width: 78px;
}

#as-filter-area.expanded {
    width: 369px;
}

#lbl-menubtn {
    background-image: url(../img/menu.png);
	background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 33px;
    width: 48px;
}

#lbl-menubtn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#lbl-menubtn.checked {
    background-color: rgba(255, 255, 255, 0.4);
}

#lbl-menubtn.checked:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.div-menutop input,
.div-menutop span {
    display: none;
}

#div-filtermenu {
    left: 100px;
    min-width: 279px;
    padding: 30px;
    position: relative;
    transition: left .5s;
}

#div-filtermenu.visible {
    left: 0px;
}

.input-field {
    background: rgba(230, 120, 23, .3);
    border: 0;
    border-bottom: 2px solid #e67817;
    height: 62px;
    width: 279px;
}

.input-field:focus {
    outline: none;
}

#div-filtermenu p {
    padding: 10px 0 10px 0;
}

#chk-prjtype {
    width: 279px;
}

#chk-prjtype > div {
    background: #0a0b0d;
    float: left;
    padding: 5px;
    position: relative;
    width: 50%;
}

#chk-prjtype input {
    display: none;
}

#chk-prjtype label {
    display: inline-block;
    line-height: 50px;
    vertical-align: top;
}

.spn-check {
    background-image: url(../img/uncheck.png);
	background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 40px;
    width: 44px;
}

#chk-prjtype input:checked +label .spn-check {
    background-image: url(../img/check.png);
}

#chk-prjtype label > span {
    vertical-align: top;
}

/* Table */
#sect-table-data {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 90px;
    position: relative;
}

#sect-table-data div:first-child {
    border-top: 1px solid white;
}

#sect-table-data table:first-child {
    border-bottom: 1px solid white;
}

#sect-table-data table {
    border-collapse: collapse;
    border-spacing: 20px;
    width: 100%;
}

tr {
   height: 90px; 
}


tbody tr:hover {
    background: silver;
}

#sect-table-data th {
    color: #e67817;
    padding: 20px;
    vertical-align: middle;
}

#sect-table-data td {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

#sect-table-data th:first-child,
#sect-table-data td:first-child {
    font-weight: bold;
    text-align: left;
}

.btn-flat {
    background: none;
    border: none;
}

/*.btn-flat:focus {
    outline: none;
}*/

#btn-add {
    background-image: url(../img/add.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 43px;
}

.btn-trash {
    background-image: url(../img/recycle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 36px auto;
    height: 36px;
    width: 36px;
}



/* Record */
#as-record-area {
    background: #000;
    display: none;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
}