@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Regular.ttf);
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
	margin: 0;
    outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body {
    height: 100%;
	width: 100%;
}

body {
    background-color: #0a0b0d;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0 0 4.125em 0;
    text-transform: uppercase;
}

#sect-main {
    display: flex;
    height: 100%;
    width: 100%;
}

/* Footer */
#foot-main {
    background: #e67817;
    height: 4.125em;
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
}

#foot-main > span {
    line-height: 4.125em;
}

/* Filters */
#as-filter-area {
    background: #000;
    height: 100%;
    transition: width .5s;
    width: 78px;
}

#as-filter-area.expanded {
    width: 369px;
}

.div-menutop {
    padding: 15px;
}

#div-menubtn {
    background-image: url(../img/menu.png);
	background-position: center;
    background-repeat: no-repeat;
    height: 33px;
    width: 48px;
}

#div-menubtn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#div-menubtn.checked {
    background-color: rgba(255, 255, 255, 0.4);
}

#div-menubtn.checked:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.div-menutop input,
.div-menutop span {
    display: none;
}

#div-filtermenu {
    padding: 30px;
    width: 100%;
}

#div-filtermenu p {
    padding: 10px 0 10px 0;
}

#chk-prjtype > div {
    background: #0a0b0d;
    float: left;
    padding: 5px;
    position: relative;
    width: 50%;
}

/* Table */
#sect-table-data {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
    position: relative;
}

#sect-table-data > table {
    height: 100%;
    width: 100%;
}

#sect-table-data th {
    color: #e67817;
}

/* Record */
#as-record-area {
    background: #000;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
}